/***********Style List User*************/


header h1 {
    margin-top:8px;
    font-weight: bold;
}
.text-1{
    text-transform: capitalize;
    font-weight: bold;
}
.text-2 {
    text-transform: capitalize;
    font-weight: bold;
}

.flex-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 6px;
}

.card {
    margin:5px;
    order: 6;
}

