/***********Style List User*************/

.main-container {
    box-sizing: border-box;
	height: calc(100vh - 57px);
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
}

.container-btn {
    box-sizing: border-box;
	flex: 0 0 55px;		
	width: 100%;
	padding: 0px 15px 0px 15px;
    background: #fff;
}

.content-container {
    flex: 1 0 auto;
	box-sizing: border-box;
	height: calc(100% - 115px);
	display:flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
    background: #f4f6f9;
}

.list-user {
    box-sizing: border-box;
	flex: 1 1 auto;
	height: 100%;
	padding: 15px 7.5px 15px 7.5px;
	overflow-y: auto;
	overflow-x: hidden;
}

.flex-card {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

header h1 {
    margin-top:8px;
    font-weight: lighter;
    font-family: sans-serif;
    letter-spacing: -1.5px;

}
.text-1{
    text-transform: capitalize;
    font-weight: bold;
}
.text-2 {
    text-transform: capitalize;
    font-weight: bold;
}

.user-detail {
    flex: 0 0 auto;
	height: 100%;
	background: #ffffff;
}


