<!------------------
    
  Search Data User    
------------------------>

<div class="row">
   <div class="col-md-12">
     <div class="container-search">
        <form>
            <div class="form-group">
              <input type="text" 
              placeholder="Busque la informacion.." 
              class="form-control" 
              name="valueText"
              [(ngModel)]="valueText" 
              (ngModelChange)="valueText = $event"
              />
            </div>
        </form>
     </div>
    </div>
</div>

